<!DOCTYPE html>
<html>
<head>

  <META http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}"> <!-- External -->
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,700i,900,900i" rel="stylesheet"> <!--Lato Font -->
</head>

<body>

  <div class="container">
    <div class="jumbotron">
      <h1>EBOM PRODUCT : MOUSE</h1>

      <p>An engineering bill of materials (EBOM) is a type of bill of materials (BOM) reflecting the product as designed by engineering, referred to as the "as-designed" bill of materials.</p>
    </div> <!--Jumbotron Ends Here -->

    <form  action="{{ url_for('ebom_to_mbom') }}" method = 'GET'>
    <div class="Exernal">

          <div class="form-inline">
             <div class="drophead">
                 <h3>External Parts</h3>
             </div>
             <div class="drophead">
                 <h3>Job Type</h3>
             </div>
             <div class="drophead" style="padding-left: 35px;">
                  <h3>Quantity</h3>
             </div>
          </div>

          <!--No 1  -->
          <div class="form-inline">
              <div class="dropdown">
                  <select class="btn btn-default dropdown-toggle" name="external_1" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
     
                    <option value="#">Select Here</option>
                  
                    <option value="Left Click">Left Click</option>
                    <option value="Right Click">Right Click</option>
                    <option value="Scroll Bar">Scroll Bar</option>
                    <option value="Middle Click">Middle Click</option>
                    <option value="Colour:Black">Colour:Black</option>
                    <option value="Colour:White">Colour:White</option>
                      <option value="Colour:Grey">Colour:Grey</option>
                  </select>
              </div> <!-- External Drop Down Ends -->       

             <div class="dropdown">
                  <select class="btn btn-default dropdown-toggle" name="JB_1" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
     
                    <option value="#">Select Here</option>
                    <option value="Paint">Paint</option>
                    <option value="Main Frame">Main Frame</option>
                    <option value="Circuitory">Circuitory</option>

                  </select>
              </div> <!-- External Drop Down Ends -->

              <div class="content">
                <input name="external_1_quant" type="number" value="0">
              </div>
          </div> <!--Form Inline Closes Here -->

          <!--No 2  -->
          <div class="form-inline">
              <div class="dropdown">
                  <select class="btn btn-default dropdown-toggle" name="external_2" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
     
                    <option value="#">Select Here</option>
                  
                    <option value="Left Click">Left Click</option>
                    <option value="Right Click">Right Click</option>
                    <option value="Scroll Bar">Scroll Bar</option>
                    <option value="Middle Click">Middle Click</option>
                    <option value="Colour:Black">Colour:Black</option>
                    <option value="Colour:White">Colour:White</option>
                      <option value="Colour:Grey">Colour:Grey</option>
       
                  </select>
              </div> <!-- External Drop Down Ends -->       

             <div class="dropdown">
                  <select class="btn btn-default dropdown-toggle" name="JB_2 " type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
     
                    <option value="#">Select Here</option>
                    <option value="Paint">Paint</option>
                    <option value="Main Frame">Main Frame</option>
                    <option value="Circuitory">Circuitory</option>

                  </select>
              </div> <!-- External Drop Down Ends -->

              <div class="content">
                <input name="external_2_quant" type="number" value="0">
              </div>
          </div> <!-- From Inline Closes Here

          <!--No 3  -->
          <div class="form-inline">
              <div class="dropdown">
                  <select class="btn btn-default dropdown-toggle" name="external_3" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
     
                    <option value="#">Select Here</option>
                  
                    <option value="Left Click">Left Click</option>
                    <option value="Right Click">Right Click</option>
                    <option value="Scroll Bar">Scroll Bar</option>
                    <option value="Middle Click">Middle Click</option>
                    <option value="Colour:Black">Colour:Black</option>
                    <option value="Colour:White">Colour:White</option>
                      <option value="Colour:Grey">Colour:Grey</option>
       
                  </select>
              </div> <!-- External Drop Down Ends -->       

             <div class="dropdown">
                  <select class="btn btn-default dropdown-toggle" name="JB_3" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
     
                    <option value="#">Select Here</option>
                    <option value="Paint">Paint</option>
                    <option value="Main Frame">Main Frame</option>
                    <option value="Circuitory">Circuitory</option>

                  </select>
              </div> <!-- External Drop Down Ends -->

              <div class="content">
                <input name="external_3_quant" type="number" value="0">
              </div>
          </div> <!--Form Inline Closes Here -->
          
          <!--No 4  -->
          <div class="form-inline">
              <div class="dropdown">
                  <select class="btn btn-default dropdown-toggle" name="external_4" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
     
                    <option value="#">Select Here</option>
                  
                    <option value="Left Click">Left Click</option>
                    <option value="Right Click">Right Click</option>
                    <option value="Scroll Bar">Scroll Bar</option>
                    <option value="Middle Click">Middle Click</option>
                    <option value="Colour:Black">Colour:Black</option>
                    <option value="Colour:White">Colour:White</option>
                      <option value="Colour:Grey">Colour:Grey</option>
       
                  </select>
              </div> <!-- External Drop Down Ends -->       

             <div class="dropdown">
                  <select class="btn btn-default dropdown-toggle" name="JB_4" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
     
                    <option value="#">Select Here</option>
                    <option value="Paint">Paint</option>
                    <option value="Main Frame">Main Frame</option>
                    <option value="Circuitory">Circuitory</option>

                  </select>
              </div> <!-- External Drop Down Ends -->

              <div class="content">
                <input name="external_4_quant" type="number" value="0">
              </div>
          </div> <!--Form Inline Ends Here -->

          <!--No 5  -->
          <div class="form-inline">
              <div class="dropdown">
                  <select class="btn btn-default dropdown-toggle" name="external_5" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
     
                    <option value="#">Select Here</option>
                    <option value="Left Click">Left Click</option>
                    <option value="Right Click">Right Click</option>
                    <option value="Scroll Bar">Scroll Bar</option>
                    <option value="Middle Click">Middle Click</option>
                    <option value="Colour:Black">Colour:Black</option>
                    <option value="Colour:White">Colour:White</option>
                      <option value="Colour:Grey">Colour:Grey</option>
       
                  </select>
              </div> <!-- External Drop Down Ends -->       

              <div class="dropdown">
                  <select class="btn btn-default dropdown-toggle" name="JB_5" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
     
                    <option value="#">Select Here</option>
                    <option value="Paint">Paint</option>
                    <option value="Main Frame">Main Frame</option>
                    <option value="Circuitory">Circuitory</option>

                  </select>
              </div> <!-- External Drop Down Ends -->

              <div class="content">
                <input name="external_5_quant" type="number" value="0">
              </div>
          </div> <!--Form Inline Ends Here -->
    </div> <!-- External Div Ends Here -->
    <div class="Internal">

          <div class="form-inline">
             <div class="drophead">
                  <h3>Internal Parts</h3>
             </div>
             <div class="drophead">
                 <h3>Job Type</h3>
             </div>
             <div class="drophead" style="padding-left: 35px;">
                  <h3>Quantity</h3>
             </div>
          </div>

          <!--No 1  -->
          <div class="form-inline">
              <div class="dropdown">
                  <select class="btn btn-default dropdown-toggle" name="internal_1" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">

                     <option value="#">Select Here</option>
                     <option value="Wheel">Wheel</option>
                     <option value="Right Button">Right Button</option>
                     <option value="Ball">Ball</option>
                     <option value="Axle or Shaft">Axle or Shaft</option>
                     <option value="Left Button">Left Button</option>
                     <option value="Bluetooth Sensor">Bluetooth Sensor</option>
                      <option value="Proximity Sensor">Proximity Sensor</option>
                      <option value="Port">Port</option>
                  </select>
              </div> <!-- External Drop Down Ends -->       

             <div class="dropdown">
                  <select class="btn btn-default dropdown-toggle" name="JB_6" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    
                    <option value="#">Select Here</option>
                    <option value="Paint">Paint</option>
                    <option value="Main Frame">Main Frame</option>
                    <option value="Circuitory">Circuitory</option>

                  </select>>
              </div> <!-- External Drop Down Ends -->

              <div class="content">
                <input name="internal_1_quant" type="number" value="0">
              </div>
          </div>

          <!--No 2  -->
          <div class="form-inline">
              <div class="dropdown">
                  <select class="btn btn-default dropdown-toggle" name="internal_2" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">

                     <option value="#">Select Here</option>
                     <option value="Wheel">Wheel</option>
                     <option value="Right Button">Right Button</option>
                     <option value="Ball">Ball</option>
                     <option value="Axle or Shaft">Axle or Shaft</option>
                     <option value="Left Button">Left Button</option>
                     <option value="Bluetooth Sensor">Bluetooth Sensor</option>
                      <option value="Proximity Sensor">Proximity Sensor</option>
                      <option value="Port">Port</option>
                  </select>
              </div> <!-- External Drop Down Ends -->       

             <div class="dropdown">
                  <select class="btn btn-default dropdown-toggle" name="JB_7" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    
                    <option value="#">Select Here</option>
                    <option value="Paint">Paint</option>
                    <option value="Main Frame">Main Frame</option>
                    <option value="Circuitory">Circuitory</option>

                  </select>>
              </div> <!-- External Drop Down Ends -->

              <div class="content">
                <input name="internal_2_quant" type="number" value="0">
              </div>
          </div>
          
          <!--No 3  -->
          <div class="form-inline">
              <div class="dropdown">
                  <select class="btn btn-default dropdown-toggle" name="internal_3" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">

                     <option value="#">Select Here</option>
                     <option value="Wheel">Wheel</option>
                     <option value="Right Button">Right Button</option>
                     <option value="Ball">Ball</option>
                     <option value="Axle or Shaft">Axle or Shaft</option>
                     <option value="Left Button">Left Button</option>
                     <option value="Bluetooth Sensor">Bluetooth Sensor</option>
                      <option value="Proximity Sensor">Proximity Sensor</option>
                      <option value="Port">Port</option>
                  </select>
              </div> <!-- External Drop Down Ends -->       

             <div class="dropdown">
                  <select class="btn btn-default dropdown-toggle" name="JB_8" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    
                    <option value="#">Select Here</option>
                    <option value="Paint">Paint</option>
                    <option value="Main Frame">Main Frame</option>
                    <option value="Circuitory">Circuitory</option>

                  </select>>
              </div> <!-- External Drop Down Ends -->

              <div class="content">
                <input name="internal_3_quant" type="number" value="0">
              </div>
          </div>

          <!--No 4  -->
          <div class="form-inline">
              <div class="dropdown">
                  <select class="btn btn-default dropdown-toggle" name="internal_4" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">

                     <option value="#">Select Here</option>
                     <option value="Wheel">Wheel</option>
                     <option value="Right button">Right Button</option>
                     <option value="Ball">Ball</option>
                     <option value="Axle or Shaft">Axle or Shaft</option>
                     <option value="Left Button">Left Button</option>
                     <option value="Bluetooth Sensor">Bluetooth Sensor</option>
                      <option value="Proximity Sensor">Proximity Sensor</option>
                      <option value="Port">Port</option>
                  </select>
              </div> <!-- External Drop Down Ends -->       

             <div class="dropdown">
                  <select class="btn btn-default dropdown-toggle" name="JB_9" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    
                    <option value="#">Select Here</option>
                    <option value="Paint">Paint</option>
                    <option value="Main Frame">Main Frame</option>
                    <option value="Circuitory">Circuitory</option>

                  </select>>
              </div> <!-- External Drop Down Ends -->

              <div class="content">
                <input name="internal_4_quant" type="number" value="0">
              </div>
          </div>

          <!--No 5  -->
          <div class="form-inline">
              <div class="dropdown">
                  <select class="btn btn-default dropdown-toggle" name="internal_5" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">

                     <option value="#">Select Here</option>
                     <option value="Wheel">Wheel</option>
                     <option value="Right button">Right Button</option>
                     <option value="Ball">Ball</option>
                     <option value="Axle or Shaft">Axle or Shaft</option>
                     <option value="Left Button">Left Button</option>
                     <option value="Bluetooth Sensor">Bluetooth Sensor</option>
                      <option value="Proximity Sensor">Proximity Sensor</option>
                      <option value="Port">Port</option>
                  </select>
              </div> <!-- External Drop Down Ends -->       

             <div class="dropdown">
                  <select class="btn btn-default dropdown-toggle" name="JB_10" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    
                    <option value="#">Select Here</option>
                    <option value="Paint">Paint</option>
                    <option value="Main Frame">Main Frame</option>
                    <option value="Circuitory">Circuitory</option>

                  </select>>
              </div> <!-- External Drop Down Ends -->
              
              <div class="content">
                <input name="internal_5_quant" type="number" value="0">
              </div>
          </div>

          <div class="drophead">
                  <h3>Type</h3>
          </div>

          <div class="dropdown">
             <select class="dropdown-toggle" name="type" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <option value="#">Select Here</option>
                <option value= "Wired">Wired</option>
                <option value="Bluetooth">Bluetooth</option>
                <option value="Proximity"> Proximity</option>
             </select>
          </div> 

         <div>
            <input type="submit" name="" value="Submit">
         </div>
    </div> <!-- External Ends Here -->

   </form>
  </div> <!--Container Div ENds -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>