<!DOCTYPE html>
<html>
<head>
        <META http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">  <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style_1.css') }}"> <!-- External -->
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,700i,900,900i" rel="stylesheet"> <!--Lato Font -->
</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1>MBOM PRODUCT: MOUSE</h1>
    </div> <!-- JumboTron -->


    <form class="form-inline" action="{{ url_for('mbom') }}" method="POST">

      <nav class="navbar navbar-default container-fluid navbar-header" style="width:100%">
        <a class="navbar-brand" href="#">
        India
        </a>
      </nav>  
      
      <table class="table" id="Indiatable">
         <tr>
           <th>Item</th>
           <th>Product ID</th>
           <th>Quantity</th>
           <th>Workstation</th>
         </tr>

         <tr>
           <td id="itm">1</td>
           <td id="product">Mouse</td>
           <td id="quant">India</td>
           <td id="workstation">workstation</td>
         </tr>

         <tr>
           <td id="itm">2</td>
           <td id="product">Mouse</td>
           <td id="quant">quant</td>
           <td id="workstation">workstation</td>
         </tr>

         <tr>
           <td id="itm">3</td>
           <td id="product">Mouse</td>
           <td id="quant">quant</td>
           <td id="workstation">workstation</td>
         </tr>

         <tr>
           <td id="itm">4</td>
           <td id="product">Mouse</td>
           <td id="quant">quant</td>
           <td id="workstation">workstation</td>
         </tr>

         <tr>
           <td id="itm">5</td>
           <td id="product">Mouse</td>
           <td id="quant">quant</td>
           <td id="workstation">workstation</td>
         </tr>

         <tr>
           <td id="itm">6</td>
           <td id="product">Mouse</td>
           <td id="quant">quant</td>
           <td id="workstation">workstation</td>
         </tr>

         <tr>
           <td id="itm">7</td>
           <td id="product">Mouse</td>
           <td id="quant">quant</td>
           <td id="workstation">workstation</td>
         </tr>

         <tr>
           <td id="itm">8</td>
           <td id="product">Mouse</td>
           <td id="quant">quant</td>
           <td id="workstation">workstation</td>
         </tr>

         <tr>
           <td id="itm">9</td>
           <td id="product">Mouse</td>
           <td id="quant">quant</td>
           <td id="workstation">workstation</td>
         </tr>

         <tr>
           <td id="itm">10</td>
           <td id="product">Mouse</td>
           <td id="quant">quant</td>
           <td id="workstation">workstation</td>
         </tr>
      </table> <!--Indian Table Ends Here-->

      <nav class="navbar navbar-default container-fluid navbar-header" style="width:100%">
        <a class="navbar-brand" href="#">
        USA
        </a>
      </nav>  
      <table class="table" id="USAtable">
         <tr>
           <th>Item</th>
           <th>Product ID</th>
           <th>Quantity</th>
           <th>Workstation</th>
         </tr>

         <tr>
           <td id="itm">1</td>
           <td id="product">USA</td>
           <td id="quant">quant</td>
           <td id="workstation">workstation</td>
         </tr>

         <tr>
           <td id="itm">2</td>
           <td id="product">Mouse</td>
           <td id="quant">quant</td>
           <td id="workstation">workstation</td>
         </tr>

         <tr>
           <td id="itm">3</td>
           <td id="product">Mouse</td>
           <td id="quant">quant</td>
           <td id="workstation">workstation</td>
         </tr>

         <tr>
           <td id="itm">4</td>
           <td id="product">Mouse</td>
           <td id="quant">quant</td>
           <td id="workstation">workstation</td>
         </tr>

         <tr>
           <td id="itm">5</td>
           <td id="product">Mouse</td>
           <td id="quant">quant</td>
           <td id="workstation">workstation</td>
         </tr>

         <tr>
           <td id="itm">6</td>
           <td id="product">Mouse</td>
           <td id="quant">quant</td>
           <td id="workstation">workstation</td>
         </tr>

         <tr>
           <td id="itm">7</td>
           <td id="product">Mouse</td>
           <td id="quant">quant</td>
           <td id="workstation">workstation</td>
         </tr>

         <tr>
           <td id="itm">8</td>
           <td id="product">Mouse</td>
           <td id="quant">quant</td>
           <td id="workstation">workstation</td>
         </tr>

         <tr>
           <td id="itm">9</td>
           <td id="product">Mouse</td>
           <td id="quant">quant</td>
           <td id="workstation">workstation</td>
         </tr>

         <tr>
           <td id="itm">10</td>
           <td id="product">Mouse</td>
           <td id="quant">quant</td>
           <td id="workstation">workstation</td>
         </tr>
      </table> <!--USA Table end Here -->
      
      <nav class="navbar navbar-default container-fluid navbar-header" style="width:100%">
        <a class="navbar-brand" href="#">
        Africa
        </a>
      </nav>  
      <table class="table" id="Africatable" >
         <tr>
           <th>Item</th>
           <th>Product ID</th>
           <th>Quantity</th>
           <th>Workstation</th>
         </tr>

         <tr>
           <td id="itm">1</td>
           <td id="product">Africa</td>
           <td id="quant">quant</td>
           <td id="workstation">workstation</td>
         </tr>

         <tr>
           <td id="itm">2</td>
           <td id="product">Mouse</td>
           <td id="quant">quant</td>
           <td id="workstation">workstation</td>
         </tr>

         <tr>
           <td id="itm">3</td>
           <td id="product">Mouse</td>
           <td id="quant">quant</td>
           <td id="workstation">workstation</td>
         </tr>

         <tr>
           <td id="itm">4</td>
           <td id="product">Mouse</td>
           <td id="quant">quant</td>
           <td id="workstation">workstation</td>
         </tr>

         <tr>
           <td id="itm">5</td>
           <td id="product">Mouse</td>
           <td id="quant">quant</td>
           <td id="workstation">workstation</td>
         </tr>

         <tr>
           <td id="itm">6</td>
           <td id="product">Mouse</td>
           <td id="quant">quant</td>
           <td id="workstation">workstation</td>
         </tr>

         <tr>
           <td id="itm">7</td>
           <td id="product">Mouse</td>
           <td id="quant">quant</td>
           <td id="workstation">workstation</td>
         </tr>

         <tr>
           <td id="itm">8</td>
           <td id="product">Mouse</td>
           <td id="quant">quant</td>
           <td id="workstation">workstation</td>
         </tr>

         <tr>
           <td id="itm">9</td>
           <td id="product">Mouse</td>
           <td id="quant">quant</td>
           <td id="workstation">workstation</td>
         </tr>

         <tr>
           <td id="itm">10</td>
           <td id="product">Mouse</td>
           <td id="quant">quant</td>
           <td id="workstation">workstation</td>
         </tr>
      </table> <!--America Table Ends Here -->
   </form> <!-- form ends here -->

</div> <!--Container Ends Here -->

</body>
</html>