body{
    font-family: Lato;
    padding-top: 20px;
    background-color: rgba(0,0,0,0.9);
}

.jumbotron p{
    font-weight: 700;
}

h3,p{
    color: white;
}

p{
    padding-right: 20px; 
}
table{
    color: white;
}

.form-inline {  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-inline label {
  margin: 5px 10px 5px 0;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }
  
  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}

.dropdown{
    padding-bottom: 5px;
    padding-top: 5px;
    width: 150px;
}

.drophead{
    padding-right: 10px;
}
